#slogan {
	font-size: 12;
	font-family: bold;
	width: 35%;
	position: absolute;
	top: 100%;
	text-align: justify;
	overflow-wrap: anywhere;
	font-family: "Arial";
	opacity: 0;
	padding-left: 1%;
	transition: opacity 0.5s;
}

#logo {
	height: 28mm;
	width: 89mm;
}

.ribbut {
	border-color: rgba(66, 135, 245, 0.1);
	border-width: 0.5em;
	border-style: solid;
	font-size: 15px;
	vertical-align: top;
	box-shadow: 0px 10px 8px 0 rgba(0, 0, 0, 0.2);
	display: inline-flex;
	color: white;
	background-color: #2196f300;
	position: sticky;
	transition: background-color 0.5s, box-shadow 0.5s;
}

.ribbut:hover {
	box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2);
	border-color: skyblue;
	border-width: 0.5em;
	border-style: solid;
	font-size: 15px;
	background-color: lightblue;
	animation-name: buthov;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
}

html {
	background: rgb(255, 255, 255);
	background: linear-gradient(60deg, rgba(255, 255, 255, 1) 0%, rgba(149, 90, 213, 0.5326505602240896) 47%, rgba(0, 255, 209, 0.7763480392156863) 100%);
	height: 100%;
	background-attachment: fixed;
	font-family: "Arial";
	z-index: 1;
	margin: 0;
}

#tochange {
	background-image: url(1.jpg);
	height: 650px;
	width: 100%;
	border-radius: 10px;
	border-width: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	transition: opacity 0.6s ease-in;
}

a {
	text-decoration: none;
}

@keyframes buthov {
	0% {
		border-color: skyblue;
		background-color: lightblue;
	}

	100% {
		border-color: lightblue;
		background-color: skyblue;
		border-radius: 10px;
	}
}

.dropdowncontent {
	display: none;
	position: absolute;
	top: 34px;
	right: 0;
	z-index: 10
}

.dropdown {
	position: relative;
	top: 0;
	left: 20%;
	vertical-align: center;
	display: flex;
	align-self: center;
	margin: 8px;
	right: 0;
	z-index: 100;
}

.ribb {
	background: rgb(255, 255, 255);
	background: linear-gradient(60deg, rgba(255, 255, 255, 1) 0%, rgba(149, 90, 213, 0.5326505602240896) 47%, rgba(0, 255, 209, 0.7763480392156863) 100%);
	font-size: 0;
	position: fixed;
	z-index: 1000;
	width: 100%;
	margin: 0;
	left: 0;
	box-shadow: 0px 10px 8px 0 rgba(0, 0, 0, 0.2);
	display: inline-flex;
}


@keyframes show {
	0% {
		display: none;
		opacity: 0;
	}

	100% {
		display: flex;
		opacity: 1;
	}
}

#slideshow {
	position: relative;
	width: 100%;
	height: 90%;
}

#container {
	position: relative;
	width: 100%;
	height: 100%;
}

#overlay {
	opacity: 0;
	position: absolute;
	left: 15px;
	top: 500px;
	color: white;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 30px;
	transition: opacity 1s ease;
}

.butn {
	border-radius: 10px;
	height: 3em;
	float: center;
	font-size: 20px;
	border-style: solid;
	border-width: 10px;
	width: 7.5em;
	background-color: #85b2cc;
	border-color: #4c4ed9;
	box-shadow: 10px 9px 8px 0 rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.5s;
}

.butn:hover {
	box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.prodimage {
	height: 195px;
	width: 350px;
	box-shadow: 10px 9px 8px 0 rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.5s;
}

.prodimage:hover {
	box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.productdisplay {
	left: 20px;
	transition: opacity 0.5s;
}

.cells {
	padding: 2px;
	text-align: center;
	color: #4c4ed9;
	font-weight: bolder;
}

.scroller {
	position: relative;
	display: flex;
	align-self: center;
	left: 0;
	height: 38vh;
	width: 80%;
}

.scrollingprod {
	box-shadow: 13px 12px 8px 0 rgba(0, 0, 0, 0.2);
	width: 30%;
	height: 35vh;
	position: absolute;
	transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, opacity 0.5s ease-in;
}

.scrollingprod:hover {
	box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2);
}

#scrollercontainer {
	box-shadow: inset 13px 12px 8px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
	transition: opacity 0.5s;
	background: linear-gradient(60deg, rgba(255, 255, 255, 1) 0%, rgba(149, 90, 213, 0.5326505602240896) 47%, rgba(0, 255, 209, 0.7763480392156863) 100%);
}

#importantlinks {
	background: rgb(250, 252, 145);
	background: linear-gradient(288deg, rgba(250, 252, 145, 0.6446953781512605) 0%, rgba(106, 253, 100, 0.8099614845938375) 17%, rgba(0, 255, 111, 0.36458333333333337) 48%, rgba(0, 215, 255, 0.7763480392156863) 100%);
	bottom: 0px;
}

#selected {
	border-color: rgba(66, 135, 245, 1);
}